
    <footer class="text-muted py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md">
                    <div><img src="/img/dice-black.svg" alt="Logo" width="45"> DicePizza</div>
                    <div><small class="text-muted">© 2020 Oliinyk Maksym</small></div>
                    <!-- https://www.flaticon.com/free-icon/dice_246569 -->
                    <div><small class="text-muted">Logo icon made by <a href="https://www.flaticon.com/authors/dimi-kazak" title="Dimi Kazak">Dimi
                            Kazak</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is
                        licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
                            title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>.</small></div>
                </div>
                <div class="col-6 col-md">
                    <div class="font-weight-bold">Соц. сети</div>
                    <ul class="list-unstyled">
                        <li><a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
                        <li><a href="https://www.youtube.com/"><i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <div class="font-weight-bold">Контакты</div>
                    <div><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i> +380000000000</a></div>
                    <div><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> contact@dicepizza.loc</a></div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>