<% include header %>
<div>
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row justify-content-center align-items-center text-center">
                <div class="col-md-8">
                    <div class="card card-body">
                        <div><i class="fa fa-check text-success fa-4x" aria-hidden="true"></i></div>
                        <div class="display-4">Заказ оформлен!</div>
                        <div class="my-3">
                            <a class="btn btn-primary" href="/">На главную</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer %>